*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    color: orange;
}
p{
    background-color: black;
    color: white;
}

button{
    background-color: blue;
    color: white;

}
